<%= form_for(@treasure) do |f| %>
  <% if @treasure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treasure.errors.count, "error") %> prohibited this treasure from being saved:</h2>

      <ul>
      <% @treasure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control', autofocus: true %>
  </div>
  <% if ![:new, :create].include?(params[:action].to_sym) %>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.select :status, options_for_select(Treasure.states), { selected: @treasure.status }, class: 'form-control' %>
    </div>
  <% end %>
  <br>
  <div class="actions pull-right">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
