<h1><%= treasure_page_title %></h1>

<%= link_to '+ New Treasure', new_treasure_path, class: 'pull-right' %>
<br><br><br>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <% if params[:status].nil? %>
          <th>Status</th>
        <% end %>
        <th>Last Activity</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @treasures.each do |treasure| %>
        <tr>
          <td><%= link_to treasure.description, treasure_path(treasure) %></td>
          <% if params[:status].nil? %>
            <td><span class=<%=treasure_label(treasure.status)%>><%= treasure.status %></span></td>
          <% end %>
          <td width="200"><%= "#{time_ago_in_words(treasure.updated_at)} ago" %></td>
          <td width="100"><%= link_to 'Edit', edit_treasure_path(treasure) %> | <%= link_to 'Delete', treasure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>

      <% if @treasures.empty? %>
        <tr class="center">
          <td colspan="4">Sorry. Got nothing for you here!!!</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>